@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,400italic);

.navbar-iverse {
	background-color: #202020;
	border-color: #2B3E50;
}

.footer {
	margin-top: 50px;
}

pre {
	background-color: #FBFFFB;
	font-size: 12px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 7px;
}

h1 {
	margin-bottom: 30px;
}

p {
	font-size: 16px;
}

@media (min-width:1200px) {
    .container {
        width: 970px;
    }
}
